force-app/main/default/flows/Criacao_de_Ordem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AtribuirQuantidade</name>
        <label>Atribuir Quantidade</label>
        <locationX>1098</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>TotalFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaValorTotal1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuantidadeFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VlrQuantidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrecoFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantidadePreco</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirTotal</name>
        <label>Atribuir Total</label>
        <locationX>1107</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>QuantidadeFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaQuantidade3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VlrTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrecoFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalPreco</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmacao</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Compra</description>
        <name>Compra</name>
        <choiceText>Compra</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compra</stringValue>
        </value>
    </choices>
    <choices>
        <description>Quantidade</description>
        <name>Quantidade</name>
        <choiceText>Quantidade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quantidade</stringValue>
        </value>
    </choices>
    <choices>
        <description>Valor Total</description>
        <name>ValoTotal</name>
        <choiceText>Valor Total</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Valor Total</stringValue>
        </value>
    </choices>
    <choices>
        <description>Venda</description>
        <name>Venda</name>
        <choiceText>Venda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Venda</stringValue>
        </value>
    </choices>
    <decisions>
        <name>QuantidadeOuTotal</name>
        <label>Quantidade ou Total</label>
        <locationX>734</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>TelaValorTotal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Total</defaultConnectorLabel>
        <rules>
            <name>DecisaoQuantidade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpcaodeOperacao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Quantidade</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaQuantidade</targetReference>
            </connector>
            <label>Quantidade</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OpcoesMercado</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Mercado__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FormulaQuantidade</name>
        <dataType>Number</dataType>
        <expression>{!VlrTotal} / {!TotalPreco}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>FormulaQuantidade1</name>
        <dataType>Number</dataType>
        <expression>{!QuantidadePreco} * {!VlrQuantidade}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>FormulaQuantidade2</name>
        <dataType>Number</dataType>
        <expression>{!VlrTotal} / {!TotalPreco}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>FormulaQuantidade3</name>
        <dataType>Number</dataType>
        <expression>{!VlrTotal} / {!TotalPreco}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaTipoRegistro</name>
        <dataType>String</dataType>
        <expression>IF({!Tipo} == &apos;Compra&apos;, &apos;0125e000000M6rSAAS&apos;,&apos;0125e000000M6rXAAS&apos;)</expression>
    </formulas>
    <formulas>
        <name>FormulaValorTotal</name>
        <dataType>Number</dataType>
        <expression>{!QuantidadePreco} * {!VlrQuantidade}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>FormulaValorTotal1</name>
        <dataType>Number</dataType>
        <expression>{!VlrQuantidade} * {!QuantidadePreco}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaValotTotal</name>
        <dataType>Number</dataType>
        <expression>{!QuantidadePreco} * {!VlrQuantidade}</expression>
        <scale>6</scale>
    </formulas>
    <interviewLabel>Criação de Ordem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criação de Ordem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CriaOrdem</name>
        <label>Cria Ordem</label>
        <locationX>1446</locationX>
        <locationY>219</locationY>
        <inputAssignments>
            <field>DataCriacao__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mercado__c</field>
            <value>
                <elementReference>Mercado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrdemStatus__c</field>
            <value>
                <stringValue>Aguardando</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade__c</field>
            <value>
                <elementReference>QuantidadeFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FormulaTipoRegistro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <elementReference>Tipo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total__c</field>
            <value>
                <elementReference>TotalFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>preco__c</field>
            <value>
                <elementReference>PrecoFinal</elementReference>
            </value>
        </inputAssignments>
        <object>Ordem__c</object>
    </recordCreates>
    <screens>
        <name>Confirmacao</name>
        <label>Confirmação</label>
        <locationX>1337</locationX>
        <locationY>219</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CriaOrdem</targetReference>
        </connector>
        <fields>
            <name>TextodeConfirmacao</name>
            <fieldText>&lt;p&gt;Confira os dados antes de concluir a ordem:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Mercado&lt;/b&gt;: {!Mercado}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Tipo&lt;/b&gt;: {!Tipo}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Preço&lt;/b&gt;: {!PrecoFinal}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Quantidade&lt;/b&gt;: {!QuantidadeFinal}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Valor Total: &lt;/b&gt;{!TotalFinal}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelecaodeOpcaodeOperacao</name>
        <label>Seleção de Opção de Operação</label>
        <locationX>549</locationX>
        <locationY>215</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>QuantidadeOuTotal</targetReference>
        </connector>
        <fields>
            <name>TextoExibicaoOpcaoCompra</name>
            <fieldText>&lt;p&gt;Selecione se deseja realizar a operação baseada no valor total a ser aplicado, ou pela quantidade do ativo&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OpcaodeOperacao</name>
            <choiceReferences>ValoTotal</choiceReferences>
            <choiceReferences>Quantidade</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opção de Operação</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelecaoInicial</name>
        <label>Seleção Inicial</label>
        <locationX>358</locationX>
        <locationY>215</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelecaodeOpcaodeOperacao</targetReference>
        </connector>
        <fields>
            <name>Mercado</name>
            <choiceReferences>OpcoesMercado</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mercado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tipo</name>
            <choiceReferences>Compra</choiceReferences>
            <choiceReferences>Venda</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaQuantidade</name>
        <label>Tela Quantidade</label>
        <locationX>956</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AtribuirQuantidade</targetReference>
        </connector>
        <fields>
            <name>VlrQuantidade</name>
            <dataType>Number</dataType>
            <fieldText>Quantidade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
        </fields>
        <fields>
            <name>QuantidadePreco</name>
            <dataType>Number</dataType>
            <fieldText>Preço</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>6</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaValorTotal</name>
        <label>Tela Valor Total</label>
        <locationX>957</locationX>
        <locationY>367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AtribuirTotal</targetReference>
        </connector>
        <fields>
            <name>VlrTotal</name>
            <dataType>Number</dataType>
            <fieldText>Valor Total</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
        </fields>
        <fields>
            <name>TotalPreco</name>
            <dataType>Number</dataType>
            <fieldText>Preço</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>6</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>SelecaoInicial</startElementReference>
    <status>Active</status>
    <variables>
        <name>PrecoFinal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>QuantidadeFinal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>TotalFinal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
</Flow>
